:root {
    --primary-color: #93ba4c;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000000;
    color: #ffffff;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #898989;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #898989;
    }

    &::-webkit-scrollbar-thumb {
        background: #000000;
        // border-radius: 10px;
    }
}

// antd config

.ant-input-affix-wrapper-lg {
    border-color: #93ba4c;
}
