:root {
    --primary-color: #93ba4c;
    --blurWhite-color: #898989;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000000;
    color: #ffffff;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #000000;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #000000;
    }

    &::-webkit-scrollbar-thumb {
        background: #898989;
        // border-radius: 10px;
    }
}

// antd config

.ant-input-affix-wrapper-lg {
    border-color: #93ba4c;
}

// rate component custom
:where(.css-dev-only-do-not-override-949zjf).ant-rate .ant-rate-star-first,
:where(.css-dev-only-do-not-override-949zjf).ant-rate .ant-rate-star-second {
    color: #393a37e6;
}

.ant-rate {
    // color: var(--primary-color)
}
