.quantity-icon:hover {
    color: #b88e2f;
    border-color: #b88e2f !important;
}

.delete-icon {
    padding: 0 5px;
    font-size: 18px;
}

.delete-icon:hover {
    color: #b88e2f;
    cursor: pointer;
}

.cart_payment {
    border: 0.1px solid #ffffff;
    border-top: none;
    width: 70%;
}