.active {
    color: #fff;
    font-weight: 600 !important;
}

.normal:hover {
    opacity: 0.8;
}
.disabled {
    background-color: #898989 !important;
    cursor: default !important;
    color: black !important;
}

.product_list_grid {
    display: grid;
    // grid-template-columns: auto auto auto auto;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 50px;
    width: 100%;
    margin-top: 20px;
}
